@model IEnumerable<SampleASPCore.Models.Pengguna>
@{
    Layout = "_Layout";
}
 <h2>Form Registrasi</h2><br/><br/>
 <a asp-action="Registrasi" class="btn btn-success">Tambah Data</a>
 <br/>
<div class="row">
@if(ViewData["pesan"]!=null){
    @Html.Raw(ViewData["pesan"])
}
<br/><br/>
</div>
<div class="row">

<table class="table table-stripped">
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Aturan</th>
        <th>Nama</th>
        <th>Telp</th>
    </tr>
    @foreach(var data in Model){
        <tr>
        <td>@data.Username</td>
        <td>@data.Password</td>
        <td>@data.Aturan</td>
        <td>@data.Nama</td>
        <td>@data.Telp</td>
        </tr>
    }
</table>
</div>